<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vinyl record players - Vinyl Shop</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="../../img/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../styles/team.css">
    <link rel="stylesheet" href="../../styles/navbar.css">
    <link rel="stylesheet" href="../../styles/footer.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/2d7e7473f2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</head>
<body>
<header id="header" class="header">
    <script src="../../js/navbar.js"></script>

    <div class="container">
        <div class="performance">
            <div class="grid">
                <h6 class="_preformance">vinyl records</h6>
                <h1 class="sidebar">Vinyl record players</h1>
            </div>
        </div>
    </div>
</header>

<div class="main-container">
    <div class="portfolio">


        <div class="row">
            <div class="col-sm-4">

                <a href="#" class="FirstPick">
                    <img class="pick" src="https://simg.marwin.kz/media/catalog/product/v/i/proigryvatel_vinilovyh_diskov_ion_vinyl_motion.jpg"
                         alt="Responsive image">
                </a>
                <div class="card-body">
                    <p class="card-subtitle mb-sm-2 text-muted"><a class="date">Vinyl Disc</a></p>
                    <h4 class="card-title"><a class="title">MX SUNSET</a></h4>
                    <p class="card-text description">Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit.
                        Velit sed at repellendus tempore! Iusto ipsa corrupti nesciunt dolorem? Minus eum
                        architecto ipsum nam earum pariatur necessitatibus at, quibusdam unde dignissimos?
                    </p>
                    <button type="button" class="btn btn-success"><i class="fas fa-shopping-basket"></i>  Buy!</button>
                </div>
            </div>
            <div class="col-sm-4">

                <a href="#" class="SecondPick">
                    <img class="pick" src="https://simg.marwin.kz/media/catalog/product/1/c/proigryvatel_vinilovyh_diskov_alive_audio_stories_mojito_c_bluetooth_str06mt.jpg"
                         alt="Responsive image">
                </a>
                <div class="card-body">
                    <p class="card-subtitle mb-sm-2 text-muted"><a class="date">Vinyl Disc</a></p>
                    <h4 class="card-title"><a class="title">MX SUNSET</a></h4>
                    <p class="card-text description">Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit.
                        Velit sed at repellendus tempore! Iusto ipsa corrupti nesciunt dolorem? Minus eum
                        architecto ipsum nam earum pariatur necessitatibus at, quibusdam unde dignissimos?
                    </p>
                    <button type="button" class="btn btn-success"><i class="fas fa-shopping-basket"></i>  Buy!</button>
                </div>

            </div>
            <div class="col-sm-4">

                <a href="#" class="ThirdPick">
                    <img class="pick" src="https://simg.marwin.kz/media/catalog/product/q/8/vinilovyy_proigryvatel_alive_audio_travels_ivory_c_bluetooth_trv07iv_1.jpg"
                         alt="Responsive image">
                </a>
                <div class="card-body">
                    <p class="card-subtitle mb-sm-2 text-muted"><a class="date">Vinyl Disc</a></p>
                    <h4 class="card-title"><a class="title">MX SUNSET</a></h4>
                    <p class="card-text description">Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit.
                        Velit sed at repellendus tempore! Iusto ipsa corrupti nesciunt dolorem? Minus eum
                        architecto ipsum nam earum pariatur necessitatibus at, quibusdam unde dignissimos?
                    </p>
                    <button type="button" class="btn btn-success"><i class="fas fa-shopping-basket"></i>  Buy!</button>
                </div>

            </div>

        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../js/footer.js"></script>
    <script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
    <audio src="sounds/author.m4a" id="audio"></audio>
</body>
</html>
