@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

div {
  display: block;
}

body {
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  color: grey;
  background-color: #fff;
}

.mk-container {
  position: relative;
  width: 100%;
  padding: 0;
}

.container-inner {
  padding: 130px 60px 90px 60px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Rajdhani, sans-serif;
  font-weight: 700;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #000;
  margin: 25px 0;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.header {
  background: url("../images/blog-title-img.jpg") no-repeat center top / cover;
  height: 500px;
}
.logo {
  width: 165px;
  height: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

header a {
  color: #000000;
}
.menu {
  display: flex;
  margin-left: 250px;
}

.menu li a {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 15px 23px 16px;
}

li,
a,
form {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  line-height: 38px;
  font-size: 16px;
  text-decoration: none;
  color: black;
  list-style: none;
}

.search-field {
  font-family: Rajdhani, sans-serif;
  margin: 0 -7px;
  padding: 0 0 1px 0;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-align: right;
  text-transform: uppercase;
  position: relative;
  width: 220px;
  font-weight: 700;
  line-height: 27px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  outline: 0;
  cursor: pointer;
  box-sizing: border-box;
  transition: border-color 0.2s ease-in-out;
}

.header {
  background: url("../images/blog-title-img.jpg") no-repeat center top / cover;
  max-width: 100%;
  height: 500px;
}

.nav-item {
  color: #000000;
  padding: 15px 23px;
  transition: 0.1s linear;
}
.nav-item:after {
  content: "";
  display: block;
  width: 100%;
  height: 1.6px;
  background-color: #ed1d24;
  display: none;
  transition: color 0.1s linear;
}

.navbar {
  font-family: "Rajdhani", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 16px;
  padding: 35px;
}

.nav-item:hover {
  background: #fff;
}

.nav-item:hover:after {
  display: block;
}

.form-inline .form-control {
  font-size: 16px;
  font-family: Rajdhani, sans-serif;
  margin: 0 10px;
  padding: 0 0 1px 0;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-align: right;
  text-transform: uppercase;
  position: relative;
  width: 220px;
  font-weight: 700;
  line-height: 27px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  outline: 0;
}

.btn-outline-success {
  color: #ed1d24;
  border-color: #e5e5e5;
}

.btn-outline-success:hover {
  color: #e5e5e5;
  background-color: #ed1d24;
  border-color: #db0e0e;
}

.nav {
  display: flex;
  padding: 35px;
  align-items: center;
}

.section {
  padding-top: 130px;
  position: center;
}

li,
a,
form {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  line-height: 38px;
  font-size: 16px;
  text-decoration: none;
  color: black;
  list-style: none;
}

li a {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-links a {
  padding: 15px 23px 16px;
}

.search-field {
  margin: 0;
  padding: 0 0 1px 0;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-align: right;
  text-transform: uppercase;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.performance {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.grid {
  margin: 0 auto;
  width: auto;
}

._preformance {
  font-family: "Heebo", sans-serif;
  line-height: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  color: #ed1d24;
  font-size: 14px;
  letter-spacing: 0.8em;
  margin: 0 0 19px;
}

.sidebar {
  margin: 0;
}

h1 {
  font-size: 70px;
}

.performance {
  padding-top: 40px;
}

.left-wrapper {
  padding: 0 46px 0 46px;
}

.right-wrapper {
  padding: 0 46px 0 46px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

article {
  display: block;
}

.article {
  margin-bottom: 40px;
}

.articles {
  margin-bottom: 60px;
}

.post-image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.post-heading {
  margin-bottom: 39px;
}

.post-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.post-info-top {
  margin-bottom: 7px;
  line-height: 1;
}

.post-info-bottom {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-top: 11px;
}

.category-tag {
  text-transform: uppercase;
}

.post-info-top a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 35px 0 0;
  font-family: Heebo, sans-serif;
  line-height: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.075em;
}

.published {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-family: Heebo, sans-serif;
  line-height: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  color: #ed1d24;
  font-size: 11px;
  letter-spacing: 0.075em;
  color: #000;
  padding-bottom: 0;
}

.post-info-top {
  display: flex;
}

.published-date {
  color: #ed1d24;
}

.container-inner a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 0;
  font-family: Heebo, sans-serif;
  line-height: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.075em;
}

.post-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.left-wrapper {
  position: relative;
  float: left;
  width: 75%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.right-wrapper {
  position: relative;
  float: left;
  width: 25%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.left {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 40px;
  box-sizing: border-box;
}

.right {
  position: relative;
  margin: 0 0 60px;
}

img {
  height: auto;
  max-width: 100%;
}

.aiw-image .avatar {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.left-wrapper {
  padding-right: 46px;
  padding-left: 46px;
}

.right-wrapper {
  padding-left: 46px;
  padding-right: 46px;
}

.entry-title {
  font-size: 45px;
  margin: 0;
}

h2 {
  font-size: 45px;
  line-height: 1em;
}

.post-excerpt-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 9px 0 0;
}

.post-excerpt-holder p {
  margin: 0;
}

p {
  margin: 10px 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.post-image img {
  display: block;
}

a img {
  border: none;
}

.btn-text {
  font-family: Rajdhani, sans-serif;
  font-size: 14px;
  padding: 0px 18px 0px 0px;
  color: #000;
}

.post-info-bottom {
  margin: 11px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-info-bottom a {
  text-transform: uppercase;
  font-size: small;
}

.social-share {
  display: block;
}

.social-share-link .material-icons {
  position: relative;
  top: 2px;
  margin-right: 12px;
  font-size: 16px;
  color: #ed1d24;
}

.aut-title {
  margin-top: 35px;
  margin-bottom: 0px;
  font-size: 24px;
}

.auth-text {
  margin-top: 11px;
  margin-bottom: 0px;
}

.author-info {
  margin-bottom: 35px;
}

.separator-widget {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-bottom: 1px solid white;
  margin: 10px 0;
}

.separator-holder {
  text-align: center;
  position: relative;
  height: auto;
  font-size: 0;
  line-height: 1em;
}

.separator {
  margin: 0 !important;
}

.post-type-search-field {
  width: 100%;
  height: 56px;
  padding: 16px 0;
  border-radius: 0;
  outline: 0;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 60px;
  background-color: #fff;
  border: none;
  font-family: Rajdhani, sans-serif;
  font-weight: 700;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.articles2 {
  margin-bottom: 80px;
}

.post-text2 {
  padding: 32px 45% 32px 39px;
  background-color: #ed1d24;
}

.search-post-type {
  display: flex;
  align-items: center;
}

.disabled {
  color: gray;
}

.a {
  display: inline-block;
  vertical-align: top;
  transition: 0.1s linear;
}

.a:after {
  content: "";
  display: block;
  width: 100%;
  height: 1.6px;
  background-color: #ed1d24;
  display: none;
  transition: color 0.1s linear;
}

.a:hover {
  background: #fff;
}
.a:hover:after {
  display: block;
}

.partners .row {
  padding-top: 24px;
  padding-bottom: 23px;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.partners .inner {
  vertical-align: baseline;
  display: inline-block;
  padding-left: 15;
  padding-right: 15;
  width: 100%;
}

.partners .inner .item {
  width: 19%;
  clear: both;
  padding: 0 15;
  margin: 0 0 30;
  float: left;
  box-sizing: border-box;
  position: relative;
}

.partners .inner {
  display: flex;
}

.col {
  padding-left: 0;
  padding-right: 46px;
}

.col-3 {
  padding-left: 46px;
  padding-right: 0;
}

@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
  }
}

.wrap {
  padding-top: 120px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.post-image {
  margin-bottom: 29px;
}

.auth-text {
  margin-bottom: 20px;
}

.footer {
  background-color: #000;
  padding: 103px 0 103px 0;
}

.footer a {
  color: #fff;
  font-size: 22px;
  letter-spacing: 0.15em;
}

.footer .container-inner2 {
  display: flex;
  justify-content: center;
}

.footer .schedule {
  display: flex;
  align-items: center;
}

.phone .row {
  display: flex;
  justify-content: space-between;
}

.footer .main-information {
  padding-bottom: 40px;
}

.wrap {
  padding-bottom: 160px;
}

.button {
  display: inline-block;
  background-color: #ed1d24;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s;
  z-index: 1000;
  display: none;
}
.show {
  display: block;
}

.button:hover {
  cursor: pointer;
  background-color: #333;
}
.button:active {
  background-color: #555;
}

.button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

.button {
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
}

.js-textSearcher-highlight {
  background-color: #ffee00;
}

mark {
    background-color: #ffdd4b;
}


#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("https://img.icons8.com/external-dreamstale-lineal-dreamstale/32/000000/external-search-ui-dreamstale-lineal-dreamstale.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 100%;
}
